  <!DOCTYPE html>
  <html>
  <head>
  <title>WebCampBackendNew</title>
  </head>

  <body>
  <div class="text-success">
　<%= flash[:notice] %>
　</div>


  <p class="text">
  <strong>Title:</strong>
  <%= @book.title %>
  </div>

  <p class="text">
  <strong>Body:</strong>
  <%= @book.body %>
  </div>


 <div>
 <%= link_to "edit", edit_book_path(@book.id) %>
 <%= link_to "back", books_path %>
 </div>
</body>
</html>